.button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--tui-radius-button);
    padding: var(--tui-spacing-small) calc(var(--tui-spacing-small) - var(--tui-spacing-extra-small));
    padding: var(--tui-spacing-small) var(--tui-spacing-medium);
    overflow: hidden;
    font-family: inherit;
    font-weight: var(--tui-font-weight-bold);

    .icons {
        display: flex;
        align-items: center;
        padding: 0 var(--tui-spacing-extra-small);
    }

    .children {
        padding: 0 var(--tui-spacing-extra-small);
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        outline: none;
    }

    &.transparent {
        &.accent {
            color: var(--tui-color-accent);
        }

        &.danger {
            color: var(--tui-color-danger);
        }

        &.primary {
            color: var(--tui-color-primary);
        }

        &.success {
            color: var(--tui-color-success);
        }

        &.warning {
            color: var(--tui-color-warning);
        }

        &:disabled {
            color: var(--tui-color-text-disabled);
        }

        &:not(:disabled) {
            cursor: pointer;
        }
    }

    &:not(.transparent) {
        border: var(--tui-width-separator-thin) solid var(--tui-color-separator-light);

        &.default {
            background-color: var(--tui-color-button-background);
            color: var(--tui-color-text);
        }

        &.accent {
            background-color: var(--tui-color-accent);
            color: var(--tui-color-text-on-accent);
        }

        &.danger {
            background-color: var(--tui-color-danger);
            color: var(--tui-color-text-on-danger);
        }

        &.primary {
            background-color: var(--tui-color-primary);
            color: var(--tui-color-text-on-primary);
        }

        &.success {
            background-color: var(--tui-color-success);
            color: var(--tui-color-text-on-success);
        }

        &.warning {
            background-color: var(--tui-color-warning);
            color: var(--tui-color-text-on-warning);
        }

        &:disabled {
            background-color: var(--tui-color-button-background-disabled);
            color: var(--tui-color-text-disabled);
        }
    }
}
