.popup {
    padding-top: calc(var(--tui-spacing-large) - var(--tui-spacing-medium));
    padding-bottom: calc(var(--tui-spacing-large) - var(--tui-spacing-medium));

    .popup-content {
        display: flex;
        flex-direction: column;
        max-height: var(--tui-height-max-select-input-popup);
    }
}

.option-renderer {
    padding: calc(var(--tui-spacing-large) - var(--tui-spacing-small));
    text-align: left;
}
