.chip-variants {
    section {
        padding: var(--tui-spacing-medium);

        .content {
            display: flex;
            flex-wrap: wrap;

            .chip {
                flex-shrink: 0;
                margin: var(--tui-spacing-small);
            }

            .round-button {
                color: black;
            }
        }
    }
}