.visual-feedback {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: transparent;
    width: 100%;
    height: 100%;

    &.light {
        &:hover {
            background-color: var(--tui-color-background-hover-light);
        }

        &:active {
            background-color: var(--tui-color-background-active-light);
        }
    }

    &.dark {
        &:hover {
            background-color: var(--tui-color-background-hover-dark);
        }

        &:active {
            background-color: var(--tui-color-background-active-dark);
        }
    }

    &.read-only,
    &.disabled {
        pointer-events: none;
    }
}
