.raw-button {
    position: relative;
    outline: var(--tui-width-separator-thin) dashed transparent;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &.light {
        &:focus {
            outline-color: var(--tui-color-outline-light);
        }
    }

    &.dark {
        &:focus {
            outline-color: var(--tui-color-outline-dark);
        }
    }

    &.loading-container {
        position: absolute;
        top: 0;
        left: 0;
    }
}
