.checkbox {
    --color-text: transparent;
    --color-checkmark: transparent;

    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding: calc(var(--tui-spacing-medium) - var(--tui-spacing-extra-small));
    color: var(--color-text);
    user-select: none;

    .checkmark {
        flex-shrink: 0;
        margin: 0 var(--tui-spacing-extra-small);
        color: var(--color-checkmark);
        font-size: 1.11em;
    }

    .input {
        display: none;
    }

    .label {
        padding: var(--tui-spacing-extra-small);
    }

    &.light {
        --color-text: var(--tui-color-text-label-light);
        --color-checkmark: var(--tui-color-text-label-light);

        &.checked,
        &.indeterminate {
            --color-text: var(--tui-color-text-label-active-light);
            --color-checkmark: var(--tui-color-accent);
        }

        &.disabled {
            --color-text: var(--tui-color-text-disabled-light);
            --color-checkmark: var(--tui-color-text-disabled-light);
        }
    }

    &.dark {
        --color-text: var(--tui-color-text-label-dark);
        --color-checkmark: var(--tui-color-text-label-dark);

        &.checked,
        &.indeterminate {
            --color-text: var(--tui-color-text-label-active-dark);
            --color-checkmark: var(--tui-color-accent);
        }

        &.disabled {
            --color-text: var(--tui-color-text-disabled-dark);
            --color-checkmark: var(--tui-color-text-disabled-dark);
        }
    }

}
