.option-renderer {
    padding: calc(var(--tui-spacing-large) - var(--tui-spacing-small));
    text-align: left;

    &.focused {
        background-color: var(--tui-color-background-hover-light);
    }
}
