.input-container {
    --box-shadow-color: transparent;
    --color-background-input-section: transparent;
    --color-text-label: transparent;
    --color-text: transparent;
    --color-hint: transparent;

    padding: calc(var(--tui-spacing-small) - var(--tui-spacing-small)) 0;
    color: var(--color-text);

    &.light {
        --color-background-input-section: var(--tui-color-background-input-section-light);
        --color-text-label: var(--tui-color-input-label-light);
        --color-text: var(--tui-color-text-light);
        --color-hint: var(--tui-color-text-label-light);

        &:hover {
            --box-shadow-color: var(--tui-color-separator-light);
            --color-text-label: var(--tui-color-input-label-light-hover);

            &.read-only,
            &.disabled {
                --color-text-label: var(--tui-color-input-label-light);
            }
        }

        &:focus-within {
            --color-text-label: var(--tui-color-input-label-light-active);
            --box-shadow-color: var(--tui-color-accent);

            &.errored {
                --box-shadow-color: var(--tui-color-danger);
            }

            &.read-only,
            &.disabled {
                --box-shadow-color: transparent;
            }
        }
    }

    &.dark {
        --color-background-input-section: var(--tui-color-background-input-section-dark);
        --color-text-label: var(--tui-color-input-label-dark);
        --color-text: var(--tui-color-text-dark);
        --color-hint: var(--tui-color-text-label-dark);

        &:hover {
            --box-shadow-color: var(--tui-color-separator-dark);
            --color-text-label: var(--tui-color-input-label-dark-hover);

            &.read-only,
            &.disabled {
                --color-text-label: var(--tui-color-input-label-dark);
            }
        }

        &:focus-within {
            --color-text-label: var(--tui-color-input-label-dark-active);
            --box-shadow-color: var(--tui-color-accent);

            &.errored {
                --box-shadow-color: var(--tui-color-danger);
            }

            &.read-only,
            &.disabled {
                --box-shadow-color: transparent;
            }
        }
    }

    .input-label {
        padding: var(--tui-spacing-small) var(--tui-spacing-medium);
        color: var(--color-text-label);
        font-size: var(--tui-font-size-small);
        font-weight: var(--tui-font-weight-bold);
    }

    --box-shadow-offset-x: 0;
    --box-shadow-offset-y: 2px;
    --box-shadow-spread-radius: 2px;
    --box-shadow-blur-radius: -1px;

    .input-section {
        display: flex;
        align-items: center;
        border-radius: var(--tui-radius-border-input-section);
        box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-spread-radius) var(--box-shadow-blur-radius) var(--box-shadow-color);
        background-color: var(--color-background-input-section);
        padding: calc(var(--tui-spacing-medium) - var(--tui-spacing-small));

        .icons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: var(--tui-spacing-small);
        }

        .input {
            flex-grow: 1;
            padding: var(--tui-spacing-small);
        }

        .actions {
            flex-shrink: 0;
            padding: var(--tui-spacing-small);
        }
    }

    .hint {
        padding: var(--tui-spacing-small) var(--tui-spacing-medium);
        color: var(--color-hint);
        font-size: var(--tui-font-size-small);
    }

    .error {
        padding: var(--tui-spacing-small) var(--tui-spacing-medium);
        color: var(--tui-color-danger);
        font-size: var(--tui-font-size-small);
    }

    &.disabled {
        opacity: var(--tui-opacity-disabled-element);
        --box-shadow-color: transparent;

        &:hover {
            --box-shadow-color: transparent;
        }
    }

    &.read-only {
        --color-background-input-section: transparent;
        --box-shadow-color: transparent;

        &:hover {
            --box-shadow-color: transparent;
        }
    }
}
