.chip-row {
    display: flex;
    align-items: center;
    background-color: var(--tui-color-background-active-light);
    padding: var(--tui-spacing-small) var(--tui-spacing-large);
    border-radius: var(--tui-spacing-extra-large);

    .icon {
        flex-shrink: 0;
        margin-top: inherit;
    }

    .label {
        margin: 0 var(--tui-spacing-small);
        flex-grow: 1;
    }

    .action {
        flex-shrink: 0;
        cursor: pointer;
        margin-top: inherit;
    }
}

.clickable {
    cursor: pointer;
}
