.table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    font-size: inherit;

    .header-row {
        .header-cell {
            position: sticky;
            top: 0;
            z-index: 2;
            border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
            background-color: var(--tui-color-background);

            &:not(:first-child) {
                border-left: 0;
            }

            &.stick-left {
                left: 0;
                z-index: 3;
            }

            .header-component {
                padding: var(--tui-spacing-medium);
            }
        }
    }

    .row {
        .row-header-cell {
            position: sticky;
            left: 0;
            z-index: 1;
            border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
            border-top: 0;
            background-color: var(--tui-color-foreground);
            text-align: left;

            &:not(:first-child) {
                border-left: 0;
            }

            .cell-component {
                padding: var(--tui-spacing-medium);
            }
        }

        .cell {
            border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
            border-top: 0;
            background-color: var(--tui-color-foreground);

            &:not(:first-child) {
                border-left: 0;
            }

            .cell-component {
                padding: var(--tui-spacing-medium);
            }
        }
    }
}
