.avatar {
    --size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);

    .image {
        border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: calc(0.6 * var(--size));
    }
}
