:root {
    --tui-font-family-sans-serif: 'PT Sans', sans-serif;
    --tui-font-family-monospace: 'Inconsolata', monospace;

    /* SPACING */
    --tui-spacing-super-small: 1px;
    --tui-spacing-extra-small: 3px;
    --tui-spacing-small: 6px;
    --tui-spacing-small-medium: 8px;
    --tui-spacing-medium: 10px;
    --tui-spacing-large-medium: 13px;
    --tui-spacing-large: 16px;
    --tui-spacing-extra-large: 24px;

    /* DIMENSIONS */
    --tui-width-separator-thin: 1px;
    --tui-width-separator-medium: 2px;

    /* FONT SIZE */
    --tui-font-size-extra-small: 10px;
    --tui-font-size-small: 12px;
    --tui-font-size-small-medium: 14px;
    --tui-font-size-medium: 15px;
    --tui-font-size-large-medium: 16px;
    --tui-font-size-large: 18px;
    --tui-font-size-extra-large: 24px;
    --tui-font-size-super-large: 32px;
    --tui-font-size-ultra-large: 48px;

    /* FONT WEIGHT */
    --tui-font-weight-light: 400;
    --tui-font-weight-medium: 400;
    --tui-font-weight-bold: 700;

    /* COLOR PALETTE */
    --tui-color-primary: #174683;
    --tui-color-accent: #389f8c;
    --tui-color-danger: #e04656;
    --tui-color-success: #12f094;
    --tui-color-warning: #ffe073;

    /* COLOR GENERAL */
    --tui-color-foreground: #fff;
    --tui-color-background: #f0f3f7;


    /* COLOR TEXT */
    --tui-color-text-on-light: #243244;
    --tui-color-text-on-dark: #f5f5f5;
    --tui-color-text: #243244;

    --tui-color-text-light: rgba(0, 0, 0, .7);
    --tui-color-text-dark: rgba(255, 255, 255, .7);

    --tui-color-text-on-primary: rgba(255, 255, 255, .9);
    --tui-color-text-on-accent: rgba(255, 255, 255, .9);
    --tui-color-text-on-danger: rgba(255, 255, 255, .9);
    --tui-color-text-on-success: rgba(255, 255, 255, .9);
    --tui-color-text-on-warning: rgba(255, 255, 255, .9);

    --tui-color-text-label-light: rgba(0, 0, 0, .6);
    --tui-color-text-label-active-light: rgba(0, 0, 0, .9);
    --tui-color-text-label-dark: rgba(255, 255, 255, .6);
    --tui-color-text-label-active-dark: rgba(255, 255, 255, .9);

    --tui-color-text-disabled-light: rgba(0, 0, 0, .3);
    --tui-color-text-disabled-dark: rgba(255, 255, 255, .3);

    --tui-color-separator: rgba(5, 6, 8, .1);
    --tui-color-separator-light: rgba(5, 6, 8, .1);
    --tui-color-separator-dark: rgba(255, 255, 255, .1);

    --tui-color-text-button-light: #243244;
    --tui-color-text-button-dark: #f5f5f5;
    --tui-color-background-button: #f0f3f7;
    --tui-color-background-button-disabled: #e4e9ef;
    --tui-color-outline-light: rgba(0, 0, 0, .3);
    --tui-color-outline-dark: rgba(255, 255, 255, .4);

    --tui-radius-button: 4px;

    --tui-color-foreground-light: #ffffff;
    --tui-color-foreground-dark: #616161;

    --tui-color-background-light: #f4f5f6;
    --tui-color-background-dark: #313131;

    --tui-color-background-hover-light: rgba(0, 0, 0, .1);
    --tui-color-background-hover-dark: rgba(255, 255, 255, .1);

    --tui-color-background-active-light: rgba(0, 0, 0, .16);
    --tui-color-background-active-dark: rgba(255, 255, 255, .16);

    --tui-color-background-input-section-light: rgba(0, 29, 71, .1);
    --tui-color-background-input-section-dark: rgba(255, 255, 255, .1);

    --tui-radius-border-input-section: .22em;
    --tui-opacity-disabled-element: .33;

    --tui-color-input-label-light: rgba(0, 0, 0, .5);
    --tui-color-input-label-light-hover: rgba(0, 0, 0, .7);
    --tui-color-input-label-light-active: rgba(0, 0, 0, .9);

    --tui-color-input-label-dark: rgba(255, 255, 255, .5);
    --tui-color-input-label-dark-hover: rgba(255, 255, 255, .7);
    --tui-color-input-label-dark-active: rgba(255, 255, 255, .9);

    --tui-color-shadow: rgba(0, 0, 0, .5);

    --tui-color-backdrop-light: rgba(0, 0, 0, .5);
    --tui-color-backdrop-dark: rgba(255, 255, 255, .5);

    --tui-color-background-switch-icon-light: rgba(0, 0, 0, .4);
    --tui-color-background-switch-icon-dark: rgba(255, 255, 255, .4);

    --tui-color-background-switch-knob-light: #ffffff;
    --tui-color-background-switch-knob-dark: #ffffff;

    --tui-radius-popup-border: 3px;
    --tui-radius-blur-shadow: 1px;

    --tui-duration-animation-fast: .1s;
    --tui-duration-animation-medium: .3s;
    --tui-duration-animation-slow: .6s;
    --tui-duration-delay-short: .2s;

    --tui-radius-modal: 5px;
    --tui-height-max-modal: 96vh;
    --tui-width-max-modal: 96vw;
    --tui-width-min-modal: 360px;

    --tui-color-table-header-background: var(--tui-color-foreground);
    --tui-color-table-cell-background: var(--tui-color-foreground);
    --tui-color-table-border: var(--tui-color-separator);
}
