.action-buttons-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--tui-spacing-small);

    .action-button {
        flex-shrink: 0;
        font-size: var(--tui-font-size-medium);
    }
}
