.accordion {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .group {
        display: flex;
        flex-direction: column;

        .group-header {
            display: flex;
            align-items: center;
            padding: var(--tui-spacing-extra-small);
            width: 100%;
            font-size: var(--tui-font-size-small-medium);
            font-weight: var(--tui-font-weight-light);

            .group-title {
                flex-grow: 1;
            }

            .actions {
                display: flex;
                align-items: center;
            }
        }
    }
}
